<section class="map-head-sec">
  <div class="map-img">
    <ion-img src="../assets/image/map.png"></ion-img>
  </div>
  <div class="map-container">
    <ion-card>
      <ion-row>
        <ion-col size="12" style="text-align: center;">
          <div class="menu-feature-heading">
            <h1>FIND US</h1>
            <h2>Our Address</h2>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="map-info">
            <ion-icon name="location-outline"></ion-icon>
            <p>Beverly Hills, Opp Ring Road<br>
              California, 669969</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</section>
<section>
  <div>
    <div class="footer-upper-page">
      <ion-row style="width: 34%;">
        <ion-col size="12">
          <ion-img src="../../assets/icon/crown.png" style="width: 58px; margin:10% 0 0 44%;"></ion-img>
          <p style="color: white;">STAY UPDATED WITH DEALS </p>
          <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Email Address"
            name="emailaddress" [(ngModel)]="emailAddress"></ion-input>
          <ion-button (click)="details()">SUBMIT</ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div class="footer-lower-page">
      <div class="list">
        <div class="menu-list">
          <a (click)="routingByUrl('/')">HOME</a>
        </div>
        <div class="menu-list">
          <a (click)="routingByUrl('menupage')">MENU</a>
        </div>
        <div class="menu-list">
          <a (click)="routingByUrl('aboutpage')">ABOUT</a>
        </div>
        <div class="menu-list">
          <a (click)="routingByUrl('contactpage')">CONTACT</a>
        </div>
      </div>
      <div class="socialmedia" style="color: white;
      display: flex;
      /* align-items: center; */
      justify-content: center;">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-snapchat"></ion-icon>
        <ion-icon name="logo-youtube"></ion-icon>
      </div>
      <div class="author">
        <p>© 2023 RANDOM RESTAURANT<br>
          DEVELOPED BY DHILIPKUMAR</p>
      </div>
    </div>
  </div>
</section>