<ion-content style="--background: linear-gradient(93deg,#333 35%,#222 63%);">
  <section class="header">
    <div class="header-container">
      <h3>
        great
      </h3>
      <h4>
        FOOD MENU
      </h4>
    </div>
  </section>
  <section class="header-second">
    <div>
      <div>
        <ion-grid style="padding: 0 6.5% 0 8%">
          <ion-row>
            <ion-col sizeSm="12" sizeLg="6">
              <div class="left-side">
                <ion-card class="header-card">
                  <div>
                    <ion-row style="padding: 33px 20px ">
                      <ion-col class="card-header-col" size="12">
                        <h1>SALADS</h1>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-card>
              </div>
            </ion-col>
            <ion-col sizeSm="12" sizeLg="6">
              <div class="right-side">
                <ion-card class="header-card">
                  <div>
                    <ion-row style="padding: 33px 20px ">
                      <ion-col class="card-header-col" size="12">
                        <h1>SALADS</h1>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-card>
              </div>
            </ion-col>
            <ion-col sizeSm="12" sizeLg="6">
              <div class="left-side">
                <ion-card class="header-card">
                  <div>
                    <ion-row style="padding: 33px 20px ">
                      <ion-col class="card-header-col" size="12">
                        <h1>SALADS</h1>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-card>
              </div>
            </ion-col>
            <ion-col sizeSm="12" sizeLg="6">
              <div class="right-side">
                <ion-card class="header-card">
                  <div>
                    <ion-row style="padding: 33px 20px ">
                      <ion-col class="card-header-col" size="12">
                        <h1>SALADS</h1>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-card>
              </div>
            </ion-col>
            <ion-col sizeSm="12" sizeLg="6">
              <div class="left-side">
                <ion-card class="header-card">
                  <div>
                    <ion-row style="padding: 33px 20px ">
                      <ion-col class="card-header-col" size="12">
                        <h1>SALADS</h1>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-card>
              </div>
            </ion-col>
            <ion-col sizeSm="12" sizeLg="6">
              <div class="right-side">
                <ion-card class="header-card">
                  <div>
                    <ion-row style="padding: 33px 20px ">
                      <ion-col class="card-header-col" size="12">
                        <h1>SALADS</h1>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-card>
              </div>
            </ion-col>
            <ion-col sizeSm="12" sizeLg="6">
              <div class="left-side">
                <ion-card class="header-card">
                  <div>
                    <ion-row style="padding: 33px 20px ">
                      <ion-col class="card-header-col" size="12">
                        <h1>SALADS</h1>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-card>
              </div>
            </ion-col>
            <ion-col sizeSm="12" sizeLg="6">
              <div class="right-side">
                <ion-card class="header-card">
                  <div>
                    <ion-row style="padding: 33px 20px ">
                      <ion-col class="card-header-col" size="12">
                        <h1>SALADS</h1>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                      <ion-col size="10">
                        <h3>
                          HOT DOG
                        </h3>
                        <p>Home made natural free from checmicals Lorem ipsum dolor sit</p>
                      </ion-col>
                      <ion-col size="2">
                        <h4>$56</h4>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-card>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </section>
  <app-commonfooter></app-commonfooter>
</ion-content>
