<ion-content style="--background: black">
  <section class="header">
    <div class="header-container">
      <h3>
        WE
      </h3>
      <h3>
        SERVE
      </h3>
      <h3>EXCELLENCE</h3>
    </div>
    <div class="img-cont">
    </div>
  </section>
  <section class="about-info" style="padding: 5rem 2rem;">
    <div style="margin: 0 5%;">
      <ion-grid>
        <ion-row>
          <ion-col size="7">
            <ion-row>
              <ion-col>
                <div class="about-page-cont">
                  <h4>ABOUT</h4>
                  <h3>RANDOM</h3>
                  <p>
                    Our mission is what drives us to do everything possible to expand human potential. We do that by
                    creating groundbreaking sport innovations, by making our products more sustainably, by building a
                    creative and diverse global team and by making a positive impact in communities where we live.
                    <br>
                    <br>
                    Based in Beaverton, Oregon, NIKE, Inc. includes the Nike, Converse, and Jordan brands. We are best
                    in
                    what we do and you all know that.
                  </p>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
  <section class="about-people" style="padding: 5rem 2rem;">
    <div style="margin: 0 5%;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div style="display: flex; align-items: center; justify-content: space-between;">
              <ion-row>
                <ion-col size="5">
                  <div>
                    <ion-img src="../../assets/image/women-exp.jpg"
                      style="box-shadow: -8px -8px 0 2px #ffd71b;"></ion-img>
                  </div>
                </ion-col>
                <ion-col size="7">
                  <div class="about-people-content">
                    <h4>INNOVATION</h4>
                    <h3>WE LOVE TO INNOVATE</h3>
                    <p>We love innovation and we always love innovating in our food, our place and our customers
                      experience and we aim to get better every day</p>
                  </div>
                </ion-col>
              </ion-row>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
  <section class="about-people" style="padding: 5rem 2rem;">
    <div style="margin: 0 5%;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-row>
                <ion-col size="7">
                  <div class="about-people-content" style="margin: 25% 10% 0 0;">
                    <h4>INNOVATION</h4>
                    <h3>WE ARE HERE TO CREATE THE FUTURE</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, velit porro. Porro iusto quos vel
                      nobis quasi ipsum ea similique recusandae iure minus, nihil suscipit excepturi, perferendis animi
                      eaque officiis.</p>
                  </div>
                </ion-col>
                <ion-col size="5">
                  <div>
                    <ion-img src="../../assets/image/happy-staff.jpg"
                      style="box-shadow: -8px -8px 0 2px #ffd71b;"></ion-img>
                  </div>
                </ion-col>
              </ion-row>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
  <section class="about-people" style="padding: 5rem 2rem;">
    <div style="margin: 0 5%;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div style="display: flex; align-items: center; justify-content: space-between;">
              <ion-row>
                <ion-col size="5">
                  <div>
                    <ion-img src="../../assets/image/friends.jpg"
                      style="box-shadow: -8px -8px 0 2px #ffd71b;"></ion-img>
                  </div>
                </ion-col>
                <ion-col size="7">
                  <div class="about-people-content">
                    <h4>VALUE</h4>
                    <h3>WE PROVIDE VALUE</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, velit porro. Porro iusto quos vel
                      nobis quasi ipsum ea similique recusandae iure minus, nihil suscipit excepturi, perferendis animi
                      eaque officiis</p>
                  </div>
                </ion-col>
              </ion-row>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
  <section class="about-people" style="padding: 5rem 2rem;">
    <div style="margin: 0 5%;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-row>
                <ion-col size="7">
                  <div class="about-people-content" style="margin: 25% 10% 0 0;">
                    <h4>INNOVATION</h4>
                    <h3>WE ARE HERE TO CREATE THE FUTURE</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, velit porro. Porro iusto quos vel
                      nobis quasi ipsum ea similique recusandae iure minus, nihil suscipit excepturi, perferendis animi
                      eaque officiis.</p>
                  </div>
                </ion-col>
                <ion-col size="5">
                  <div>
                    <ion-img src="../../assets/image/women-smiling.jpg"
                      style="box-shadow: -8px -8px 0 2px #ffd71b;"></ion-img>
                  </div>
                </ion-col>
              </ion-row>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
  <app-commonfooter></app-commonfooter>
</ion-content>
