<ion-content>
  <section #targetElement class="home-header">
    <div class="home-content">
      <ion-row>
        <ion-col sizeSm="12" sizeLg="12">
          <ion-text class="home-content-details">
            <h1 class="head-line">Delicious Food</h1>
            <p>Crown is a restaurant, bar and coffee <br>
              roastery located on London</p>
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-button class="menu-order-button">Order online</ion-button>
        </ion-col>
      </ion-row>
    </div>
    <span class="scroll-button">
      <a href="#">
        <span class="mouse"></span>
      </a>
    </span>
  </section>
  <section class="second-page">
    <div class="main-page-details">
      <ion-grid>
        <ion-row>
          <ion-col class="greeting-message" size="7">
            <ion-text>
              <h2 class="greeting-heading"> <span class="greeting-message-heading"> Why us </span><br> Serving you great
                time
              </h2>
              <p class="greeting-explain-message">
                Our mission is to give our customers a place to celebrate life’s
                special moments by offering the best food, service, and ambiance.
                The smile on our customers face has always been our first priority
                and we work hard to achieve that.
                <br>
                <br>
                Established in 1982, We aim to keep going forever and bring
                happiness to your life
              </p>
            </ion-text>
            <ion-button class="story-button">OUR STORY</ion-button>
          </ion-col>
          <ion-col size="5">
            <div>
              <ion-img class="greeting-img" src="../../assets/image/greeting-image1.jpeg"></ion-img>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
  <section style="width: 100%; background: black;padding: 7% 0 7% 0;">
    <div class="main-page-details">
      <ion-row>
        <ion-col sizeXs="12" sizeLg="12" style="text-align: center;">
          <div class="menu-feature-heading" style="color: white;">
            <h1>EXPLORE</h1>
            <h2>MENU FEATURES</h2>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-row>
            <ion-col size="4">
              <ion-card class="menu-feature-card">
                <div>
                  <div class="menu-feature-img">
                    <ion-img src="../../assets/image/salad-white.png"></ion-img>
                  </div>
                  <div class="menu-feature-content">
                    <h1>
                      Always Fresh
                    </h1>
                    <p>We focus on serving fresh food always. Fresh food is always best for your precious body and we
                      keep
                      that in mind and that's why we like to serve everything fresh</p>
                  </div>
                </div>
              </ion-card>
            </ion-col>
            <ion-col size="4">
              <ion-card class="menu-feature-card">
                <div>
                  <div class="menu-feature-img">
                    <ion-img src="../../assets/image/salad-white.png"></ion-img>
                  </div>
                  <div class="menu-feature-content">
                    <h1>
                      Always Fresh
                    </h1>
                    <p>We focus on serving fresh food always. Fresh food is always best for your precious body and we
                      keep
                      that in mind and that's why we like to serve everything fresh</p>
                  </div>
                </div>
              </ion-card>
            </ion-col>
            <ion-col size="4">
              <ion-card class="menu-feature-card">
                <div>
                  <div class="menu-feature-img">
                    <ion-img src="../../assets/image/salad-white.png"></ion-img>
                  </div>
                  <div class="menu-feature-content">
                    <h1>
                      Always Fresh
                    </h1>
                    <p>We focus on serving fresh food always. Fresh food is always best for your precious body and we
                      keep
                      that in mind and that's why we like to serve everything fresh</p>
                  </div>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="col-story-button" size="12">
          <ion-button class="story-button">SEE MENU</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </section>
  <section style="width: 100%; background: linear-gradient(93deg,#333 35%,#222 63%);padding: 6% 0 6% 0;">
    <div class="main-page-details">
      <ion-row>
        <ion-col size="12" style="text-align: center;">
          <div class="menu-feature-heading" style="color: white;">
            <h1>OUR</h1>
            <h2>CLIENTS</h2>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-row>
            <ion-col size="4">
              <ion-card class="client">
                <div>
                  <div class="client-feature-img">
                    <ion-img src="../../assets/image/double-quote.png" style="height: 50%"></ion-img>
                  </div>
                  <div class="client-content">
                    <p>
                      The food was absolutely wonderful, from preparation to
                      presentation, very pleasing. We especially enjoyed the special bar
                      drinks, the cucumber/cilantro infused vodka martini and the K&amp;P
                      was great.
                    </p>
                    <h3>
                      SELENA D
                    </h3>
                    <h4>
                      LAWYER
                    </h4>
                  </div>
                </div>
              </ion-card>
            </ion-col>
            <ion-col size="4">
              <ion-card class="client">
                <div>
                  <div class="client-feature-img">
                    <ion-img src="../../assets/image/double-quote.png" style="height: 50%"></ion-img>
                  </div>
                  <div class="client-content">
                    <p>
                      A very friendly welcoming place to spend time. All personnel were
                      very well trained,helpful and all done with a smile. Everything
                      was handled with efficiency and attention to every detail was
                      given.
                    </p>
                    <h3>
                      RICHARD
                    </h3>
                    <h4>
                      ARCHITECT
                    </h4>
                  </div>
                </div>
              </ion-card>
            </ion-col>
            <ion-col size="4">
              <ion-card class="client">
                <div class=" client-overview">
                  <div class="client-feature-img">
                    <ion-img src="../../assets/image/double-quote.png" style="height: 50%"></ion-img>
                  </div>
                  <div class="client-content">
                    <p>
                      Excellent eating experience.. from walking in the door and being
                      greeted by employee, seated and drink order taken, was maybe 5
                      minutes. Meal was served hot and excellent taste. Server was very
                      friendly.
                    </p>
                    <h3>
                      CYNTHIA
                    </h3>
                    <h4>
                      DENTIST
                    </h4>
                  </div>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="col-story-button" size="12">
          <ion-button class="story-button">READ MORE</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </section>
  <app-commonfooter></app-commonfooter>
</ion-content>